<ion-content id="login">
  <form [formGroup]="loginForm" (submit)="login(this.loginForm.value)">
    <ion-item id="input" class="first">
      <ion-label fixed>E-mail</ion-label>
      <ion-input #input type="text" name="email" formControlName="email"></ion-input>
    </ion-item>
    <div>
      <span id="erro" class="error ion-padding"
        *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched">
        E-mail é necessario.
      </span>
      <span id="erro" class="error ion-padding"
        *ngIf="loginForm.controls['email'].hasError('email') && loginForm.controls['email'].touched">
        E-mail invalido.
      </span>
    </div>
    <ion-item id="input">
      <ion-label fixed>Password</ion-label>
      <ion-input #input [type]=typePassword name="password" formControlName="password"></ion-input>
      <ion-icon [name]=iconPassword (click)="clickSeePassword()"></ion-icon>
    </ion-item>
    <div><span id="erro" class="error ion-padding"
        *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].dirty">
        Password é necessario.
      </span>
    </div>
    <ion-button expand="block" id="button" type="submit">
      <ion-row>
        <ion-col width-90>Entrar</ion-col>
        <ion-col width-10>
          <ion-icon name="arrow-redo-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-button>
  </form>
  
  <ion-button expand="block" id="button" color="primary" fill="outline" (click)="newPassword()">
    <ion-row>
      <ion-col width-90>Recuperar Senha</ion-col>
      <ion-col width-10>
        <ion-icon name="arrow-redo-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-button>
</ion-content>