<ion-header translucent>
  <ion-toolbar>
    <ion-title>Salvar Sentimentos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" size-xs="6" size-sm="6" size-md="4" size-lg="3" *ngFor="let feeling of feelings">
        <ion-card  tappable [id]="idCard == feeling.id ? cardSelecionado : card" (click)="selectCard(feeling)">
          <ion-card-header>
            <img id="image" [src]="feeling.image"/>
          </ion-card-header>
          <ion-card-content>
            <h2 class="ion-text-center">{{feeling.name}}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button expand="block" id="button" vertical="bottom" (click)="saveFeeling()">
    <ion-row>
      <ion-col width-90>Salvar</ion-col>
      <ion-col width-10>
        <ion-icon name="send-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-button>

</ion-content>