#button {
    margin-left: 25px;
    margin-right: 25px;
    height: 50px;
	--border-radius: 30px;
    position: fixed;
    left: 0;
    bottom: 10px;
    right: 0;
}

ion-grid {
    margin-bottom: 62px;
}

#image {
    width: 100px;
}

#card {
    --background: rgb(78, 78, 78);
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    border-radius: 30px;
    text-align: center;
    height: 170px;
}

#card-selecionado {
    --background: rgb(1, 95, 120);
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 0px;
    border-radius: 30px;
    text-align: center;
    height: 170px;
}

h2 {
    color: white;
}
