<app-header title="Perfil"></app-header>

<ion-content>
  
  <ion-card id="card">
   <!-- <ion-card-header>
      <img id="icon" [src]=user.image alt="Perfil"/>
    </ion-card-header> -->
    <ion-card-content>
      <h2 id="name">{{user.name}}</h2>
      <h2>{{user.email}}</h2>
      <span>version: 1.0.1</span>
    </ion-card-content>
  </ion-card>

  <ion-grid id="grid-button">
   <ion-row>
      <!-- <ion-col>
        
        <ion-button expand="block" id="button" (click)="edit()">
          <ion-row>
            <ion-col width-90>Editar</ion-col>
            <ion-col width-10>
              <ion-icon name="create-outline"></ion-icon>      
            </ion-col>
          </ion-row>
        </ion-button>
      </ion-col>-->
      <ion-col>
        <ion-button expand="block" id="button-outline" color="danger" fill="outline" (click)="exit()">
          <ion-row>
            <ion-col width-90>Sair</ion-col>
            <ion-col width-10>
                <ion-icon name="enter-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngFor="let item of items">
    <ion-item-sliding>
      <app-card-feeling [item]="item"></app-card-feeling>
      <ion-item-options side="end" >
        <ion-item-option (click)="removeFeeling(item.id)" color="danger"  id="delete">Apagar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
